@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northwind Customer Database</h1>
    <p>Here you can choose to view or manipulate our database</p>
   </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        
        <p><a class="btn btn-default" href="http://localhost:59965/customer/index">View List &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:59965/customer/create">Add to list &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:59965/customer/delete">Delete &raquo;</a></p>
        <p><a class="btn btn-default" href="http://localhost:59965/customer/edit">Modify &raquo;</a></p>
    </div>
    <div class="col-md-4">
    </div>
</div>